# Python / Django
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Database
db.sqlite3
*.sqlite3

# Static / Media
staticfiles/
media/

# OS generated
.DS_Store
Thumbs.db

# Virtual environments & local python
venv2/
.venv2/
.python312/
python312.exe
install_log.txt
scripts/
logs/

