{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin %}

{% block title %}{{ cl.opts.verbose_name_plural | capfirst }} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{{ cl.opts.verbose_name_plural | capfirst }}</h1>
  
  {% if cl.has_filters %}
    <div class="filters">
      <h2>Filters</h2>
      {% for spec in cl.filter_specs %}
        {% admin_list_filter cl spec %}
      {% endfor %}
    </div>
  {% endif %}

  {% block search %}
    {% search_form cl %}
  {% endblock %}

  {% if cl.result_list %}
    {% result_list cl %}
  {% else %}
    <p>No {{ cl.opts.verbose_name_plural }} found.</p>
  {% endif %}

  {% pagination cl %}
{% endblock %}
