{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin %}

{% block title %}{{ form_title }} | {{ block.super }}{% endblock %}

{% block content %}
  <h1>{{ form_title }}</h1>
  
  <form method="post" id="change-form">
    {% csrf_token %}
    
    {% if form.non_field_errors %}
      <div class="errorlist">
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </div>
    {% endif %}

    {% for fieldset in adminform %}
      <fieldset class="module">
        {% include "admin/fieldset.html" %}
      </fieldset>
    {% endfor %}

    {% block submit_buttons_bottom %}
      <div class="submit-row">
        <input type="submit" value="Save">
        {% if object_id %}
          <a href="{% url opts|admin_urlname:'delete' object_id %}" class="button deletelink">Delete</a>
        {% endif %}
      </div>
    {% endblock %}
  </form>
{% endblock %}
